body {
  width: 90%;
  margin: auto;
}

/* li elements will have a box around them */
li {
  border: 1px solid black;
  display: block;
  width: fit-content;
  padding: 5px;
  margin: 5px;
}

/* Quote text will be italicized */
div {
  padding-left: 20px;
  font-style: italic;
}